// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  div.field,div.actions{
    margin-bottom: 10px;
  }


label{
  display:block;
}

th{
  padding-bottom: 5px;
}

td{
  padding: 0 5px 7px ;
}